---
import 'water.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reminders</title>

    <link rel="icon" href="/favicon-32x32.png" type="image/png" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="theme-color" content="#3367D6" />
    <link rel="manifest" href="/manifest.webmanifest" crossorigin="anonymous" />
  </head>
  <body>
    <slot />
  </body>
</html>
